header {
  width: 100%;
  height: 70px;
  border: 1px solid #6D8093;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;
  padding: 10px 0;
}
.header-menu-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.header-menu-item {
  border-bottom: 2px solid rgb(173, 202, 211);
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: -5px;
}
.header-menu-item:hover {
  border-bottom: 2px solid var(--text-main-blue);
}

