.qualific-item {
    border:2px solid white;
    width:150px;
   
}

.qualific-list {
    display: flex;
    gap:30px;

}
.qualific-choice {
    cursor: pointer;
    display: flex;
    gap: 8px;
    color:  rgb(255, 235, 205);
}
.qualific-choice h3{
    color: inherit;
}
.qualific-buttons {
    display: flex;
    gap: 20px;
}