.sidebar {
  padding: 50px 46px;
  border-bottom: 1px solid #6d8093;
  max-width: 271px;
  border: 1px solid #6D8093;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sidebar-photo {
  display: flex; 
}
.sidebar-tittle {
  text-align: center;
}
.sidebar-links {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.sidebar p {
  text-align: center;
}
